* {
    box-sizing: border-box;
}

:root {
    --main-color: rgb(1, 36, 186);
    --accent-color: rgb(9, 216, 98);
    --text-color: rgb(53, 53, 53);
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
}


.container {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

a {
    text-decoration: none;
}

.logo {
    color: var(--main-color);
    font-size: 2.5rem;
    font-weight: 700;

}

.navigation {
    display: flex;
    list-style: none;
}

.navigation a {
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 600;
}

.navigation li:last-child a {
    padding-right: 0;
}

.main {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}

.main__intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.intro__info {
    flex-grow: 2;
}

.info__small-heading {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--accent-color);
}

.info__heading {
    font-size: 4rem;
    color: var(--main-color);
    font-weight: 700;
}

.info__icons {
    display: flex;
    margin-top: 60px;
    gap: 40px;
}

.icons__item {
    display: flex;
    flex-direction: column;
    width: 145px;
}

.item__text {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
}

.icons__item:first-of-type::before {
    content: "\f0c2";
}

.icons__item:nth-of-type(2)::before {
    content: "\f3d1";
}

.icons__item:last-of-type::before {
    content: "\f2f2"
}

.icons__item::before {
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 700;
    color: var(--accent-color);
    font-size: 2rem;
    margin-bottom: 10px;
}