* {
    box-sizing: border-box;
}

:root {
    --main-color: rgb(1, 36, 186);
    --accent-color: rgb(9, 216, 98);
    --text-color: rgb(53, 53, 53);
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text-color);
}


.container {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

a {
    text-decoration: none;
}

.logo {
    color: var(--main-color);
    font-size: 2.5rem;
    font-weight: 700;

}

.navigation {
    display: flex;
    list-style: none;
}

.navigation a {
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 600;
}

.navigation li:last-child a {
    padding-right: 0;
}

.main {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}

.main__intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.info__small-heading {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--accent-color);
}

.info__heading {
    font-size: 4rem;
    color: var(--main-color);
    font-weight: 700;
}

.info__icons {
    display: flex;
    margin-top: 60px;
    gap: 40px;
}

.icons__item {
    display: flex;
    flex-direction: column;
    width: 145px;
}

.item__text {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
}

.icons__item:first-of-type::before {
    content: "\f0c2";
}

.icons__item:nth-of-type(2)::before {
    content: "\f3d1";
}

.icons__item:last-of-type::before {
    content: "\f2f2"
}

.icons__item::before {
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 700;
    color: var(--accent-color);
    font-size: 2rem;
    margin-bottom: 10px;
}

.intro__form {
    background: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .13);
}

.form__heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.form__field {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.8rem;
    font-weight: 700;
    margin: 12px 0;
}

.form__input {
    border: none;
    padding-bottom: 8px;
    border-bottom: 1px solid lightgray;
}

.intro__form .form__field .form__input::placeholder {
    opacity: .4;
}

.form__button {
    margin-top: 40px;
    padding: 20px 30px;
    color: white;
    background-color: var(--accent-color);
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

.form__button:hover {
    color: var(--accent-color);
    background-color: white;
    border: 1px solid var(--accent-color);
}

.form__button:active {
    color: var(--accent-color);
    background-color: white;
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.13) inset;
}